body {
  background: yellowgreen;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
}

/*Score Related All*/
.scoreContainer {
  /* LEAD */
  display: block;
  /* display: none; */
  /* border: 2px solid black; */
  text-align: center;
  width: 100%;
  height: 25vh;
}
.scoreOuter {
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  display: inline-block;
  width: 48%;
  height: 69%;
  margin-top: 2%;
  /* position: relative; */
}
.scoreTextContainer {
  float: left;
  margin-left: 2%;
  display: inline-block;
  font-size: 150%;
  text-align: left;
  /* border: 2px solid blue; */
  width: 25%;
  height: 100%;
  color: white;
}

.scoreDisplay {
  /* border: 2px solid blue; */
  display: inline-block;
  width: 20%;
  height: 90%;
  float: right;
  margin-top: 5px;
  margin-right: 2%;
  background: white;
  border-radius: 10px;
}

.valueContainer {
  margin-top: 2%;
  font-size: 200%;
}
.scoreDesign {
  /* border: 2px solid purple; */
  margin-top: 5%;
}

.ScoreText {
  font-size: 65%;
  /* border: 2px solid black; */
}
/*Score Related All*/

/*




*/

/* All Images class and individual movement control 
The Box which is containing the Three Options */
.userContainer {
  /* LEAD */
  display: inline-block;
  /* display: none; */
  width: 25%;
  text-align: center;
}
#userContainer-id {
  position: absolute;
  top: 40%;
  left: 30%;
}

#rock {
  box-shadow: 0 0 0px 10px rgb(0, 21, 255);
}
#paper {
  box-shadow: 0 0 0px 10px rgb(255, 128, 0);
}
#scissor {
  box-shadow: 0 0 0px 10px rgb(166, 0, 255);
}

.img-dimension {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: white;
  border-radius: 50%;
}
/* All Images class and individual movement control 
The Box which is containing the Three Options */

/*




*/

/*Decision*/
.DeciderContainer {
  /* LEAD */
  display: inline-block;
  /* display: none; */
  /* border: 2px solid darkmagenta; */
  width: 12vw;
  height: 18vh;
  text-align: center;
  font-size: xx-large;
}
#DeciderContainer-id {
  position: absolute;
  top: 45%;
  left: 38%;
}
.textContainer {
  display: inline-block;
  /* border: 2px solid blue; */
  width: 100%;
  text-align: center;
  height: 70%;
  margin-left: 5%;
}
.text_Larger {
  display: inline-block;
  color: #ffffff;
  width: 100%;
  /* border: 2px solid red; */
}
#text_Larger_id {
  margin-top: 15%;
}
.text {
  display: inline-block;
  /* border: 2px solid rgb(0, 255, 72); */
  font-size: 25px;
  color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 0%;
}

#playAgainButton {
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  cursor: pointer;
  /* border: 2px solid rgb(166, 2, 255); */
  padding: 2px;
  border-radius: 5px;
}
#playAgainButton-id {
  color: black;
  font-size: medium;
  /* border: 2px solid red; */
}

#you-win {
  /* display: block;
  width: 8%;
  text-align: center;
  position: absolute; */
}

#pc-win {
  /* display: block;
  width: 8%;
  text-align: center;
  position: absolute; */
  /* position: absolute; */
}

#tie {
  /* display: block;
  width: 8%;
  text-align: center;
  position: absolute; */
}

/*Decision*/

/*GLOBAL CLASS FOR BUTTONS*/
.buttons {
  background: none;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
}
.buttonEsthetics {
  font-size: medium;
  color: #ffffff;
}

/*RULESS*/

.rulesBox {
  display: inline-block;
  /* display: none; */
  border: 5px solid rgb(255, 255, 255);
  background: darkgreen;
  height: 30%;
  border-radius: 10px;
  padding: 5px;
}
.rulesCrossClass {
  border: 2px solid black;
  background: red;
  border-radius: 50%;
  text-align: center;
  width: 8%;
  height: 8%;
  cursor: pointer;
  padding: 2px;
  font-size: 65%;
}
.rulesBox div.rulesCrossClass:hover {
  box-shadow: 0 0 35px 5px red;
  transition-delay: 0.3s;
}
.rulesHeading {
  color: #ffffff;
  text-align: center;
  margin-top: 5px;
  font-family: sans-serif;
  font-weight: bolder;
}
.rulesContainer {
  text-align: center;
  /* border: 2px solid black; */
  height: 100%;
  width: 100%;
}
.rules {
  display: inline-block;
  border: 5px solid red;
  list-style: square;
  float: left;
}
#rulesBox-id {
  position: absolute;
  width: 15%;
  left: 68%;
  top: 55%;
}
#cross-id {
  position: absolute;
  left: 96%;
  bottom: 96%;
}

.list-item {
  font-family: sans-serif;
  font-size: small;
  color: white;
  list-style: none;
  /* border: 2px solid blue; */
  display: inline-block;
  width: 100%;
  overflow: visible;
  margin-top: 3%;
  text-align: center;
}

li::before {
  position: sticky;
  margin-right: 2px;
  float: left;
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  list-style: square;
  display: inline-block;
  color: rgb(255, 251, 0); /* Change the color */
}
/*RULESS*/

/*

*/
#rulesButton {
  position: absolute;
  top: 90%;
  left: 80%;
  width: 4%;
  padding: 5px;
}

#nextButton {
  position: absolute;
  top: 90%;
  left: 86%;
  width: 4%;
  padding: 5px;
}

.selectionDisplayContainer {
  /* border: 2px solid blue; */
  display: inline-block;
  /* display: none; */
  width: 40%;
  text-align: center;
  font-size: 65%;
  position: absolute;
  color: #ffffff;
  text-shadow: 2px 1px 10px #090909;
}
#selectionDisplayContainer-id {
  left: 23%;
  top: 35%;
}
.selected {
  display: inline-block;
}
#you-selected {
  float: left;
}

#pc-selected {
  float: right;
}

.victoriusPage {
  position: absolute;
  display: "inline-block";
  /* border: 2px solid black; */
  text-align: center;
  justify-content: center;
  width: 35vw;
  height: 65vh;
}
#vic-id {
  left: 30vw;
  top: 17vh;
}
.Trophy-image {
  display: inline-block;
  /* border: 2px solid red; */
  height: 65%;
  width: 65%;
}
#Trophy-image-id {
}

.BigText {
  /* border: 2px solid green; */
  display: inline-block;
  color: #ffffff;
  font-size: xxx-large;
  letter-spacing: 10px;
  width: 100%;
}
#BigText-id {
  top: 25%;
}
.SmallText {
  display: inline-block;
  color: #ffffff;
  font-size: medium;
  letter-spacing: 10px;
}
#SmallText-id {
  top: 85%;
  left: 20%;
}
#playAgainButton-2 {
  display: inline-block;
  left: 0%;
  top: 80%;
  width: 100%;
  height: 7%;
  letter-spacing: 15px;
  background: #ffffff;
  margin-top: 5%;
}
#playAgainButton2-id {
  display: inline-block;
  color: black;
  font-size: medium;
  text-align: center;
}
